@model Projekt_Blog.role

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if ((string)Session["role_id"] == "1")
{
    <h2>Usuń</h2>

    <h3>Na pewno chcesz usunąć tą rolę?</h3>
    <div>
        <h4>role</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Rola)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rola)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-danger" /> |
                @Html.ActionLink("Powrót", "Index")
            </div>
        }
    </div>
}
else
{
    <h1 style="background-color:red;">Nie jesteś administratorem!!!!!</h1>
    <a href="@Url.Action("Index","Home")" class="btn btn-warning">Powrót na stronę główną</a>
}

